language: python

python:
  - 3.6

services:
  - mysql

env:
  - DJANGO=1.11.8 DB=mysql

before_install:
  - export DJANGO_SETTINGS_MODULE=queueing_app.settings

install:
  - pip install -r requirements.txt

before_script:
   - mysql -u root -e 'CREATE DATABASE queue;'
   - mysql -u root -e "CREATE USER 'abc'@'localhost' IDENTIFIED BY 'example@123';"
   - mysql -u root -e "GRANT ALL ON *.* TO 'abc'@'localhost';"
   - python3 manage.py makemigrations
   - python3 manage.py migrate
   - python manage.py syncdb --noinput

script:
  - flake8
  - python3 manage.py test
